### Looking at combined station CTD cast data

 - for regression analysis of O2 and beam transmission
 - processed from 1 m binned Seabird cnv files in 2018_St32_P2_individual notebook, which created csvs
 - that processing also created a combined station file with all cast data from that station occupation

In [6]:
# LIBRARIES
#import pandas library for working with tabular data
import os
os.getcwd()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kde
#import regular expresson (regex)
import re
#check pandas version
pd.__version__

'1.0.5'

In [10]:
cd ~/Documents/git-repos/2017-etnp/data/ctd-cnv/RR1804/

/home/millieginty/Documents/git-repos/2017-etnp/data/ctd-cnv/RR1804

In [25]:
# read into dataframe with Pressure (depth) as the index
p2_combine = pd.read_csv('Station32_combined_casts.csv', index_col=0)

# read into dataframe with Time (UTC) as the index
#p2_combine = pd.read_csv('Station32_combined_casts.csv', index_col=33)

p2_combine.head()

,StartTime,timeS,scan,longitude,latitude,depSMignore,t090C,t190C,c0S/m,c1S/m,...,sbeox0V,sal00,sal11,sigma-�00,sigma-�11,sbeox0Mg/L,sbox0Mm/Kg,sbeox0PS,flag,Time
Pressure [dbar],,,,,,,,,,,,,,,,,,,,,
10.060,2018-04-15 05:12:33,28.406,683.0,-107.00062,16.90048,10.0,26.6322,26.6326,5.402263,5.402444,...,2.7527,34.4507,34.4517,22.4215,22.4222,6.5181,199.225,98.638,False,2018-04-15 05:13:01.406
11.066,2018-04-15 05:12:33,99.969,2400.0,-107.00062,16.90048,11.0,26.6327,26.6328,5.402342,5.402516,...,2.7537,34.4507,34.4518,22.4214,22.4222,6.5252,199.444,98.747,False,2018-04-15 05:14:12.969
12.072,2018-04-15 05:12:33,104.055,2498.0,-107.00062,16.90048,12.0,26.6372,26.6373,5.403420,5.403521,...,2.7534,34.4547,34.4554,22.4230,22.4236,6.5181,199.227,98.649,False,2018-04-15 05:14:17.055
13.078,2018-04-15 05:12:33,107.870,2590.0,-107.00062,16.90048,13.0,26.6368,26.6372,5.403477,5.403670,...,2.7519,34.4551,34.4562,22.4236,22.4242,6.5210,199.314,98.691,False,2018-04-15 05:14:20.870
14.084,2018-04-15 05:12:33,109.071,2619.0,-107.00062,16.90048,14.0,26.6375,26.6378,5.403666,5.403869,...,2.7546,34.4556,34.4569,22.4238,22.4247,6.5238,199.400,98.736,False,2018-04-15 05:14:22.071