In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [6]:
# read the data into pandas dataframes
etnp_2017 = pd.read_csv("/home/millieginty/Documents/git-repos/2017-etnp/data/flux/2017-fluxes2.csv")

etnp_2017.head()

,sample id,Year,Station,Depth,Flux (mg/m2/day),C flux organic,Trap type,CN total,CN organic,Protein flux (ug/m2/day),Protein/org C of flux (ug protein/umol C)
0,1-1_60m_+p,2017,P1,60,88.651326,NaN,cone,NaN,NaN,NaN,NaN
1,2-2_50m_ctl,2017,P1,50,NaN,NaN,cone,NaN,NaN,NaN,NaN
2,2-2_50m_+p,2017,P1,50,190.876791,NaN,cone,NaN,NaN,329.466919,NaN
3,2-2_50m_top,2017,P1,50,NaN,NaN,cone,NaN,NaN,NaN,NaN
4,2-2_320m_netwash,2017,P1,320,NaN,NaN,net,10.318678,9.380886,NaN,NaN

In [7]:
# keep only the rows Station = P2
# keep only rows Station P1

P2_2017 = etnp_2017.loc[(etnp_2017['Station'] == 'P2')]
P1_2017 = etnp_2017.loc[(etnp_2017['Station'] == 'P1')]

P2_2017.head()

,sample id,Year,Station,Depth,Flux (mg/m2/day),C flux organic,Trap type,CN total,CN organic,Protein flux (ug/m2/day),Protein/org C of flux (ug protein/umol C)
67,1-12_73m_ctl,2017,P2,73,NaN,NaN,cone,38.988781,34.774591,NaN,NaN
68,1-12_73m_+p,2017,P2,73,81.787511,103.064253,cone,24.021420,18.178697,NaN,NaN
69,1-12_148m_ctl,2017,P2,148,NaN,NaN,cone,83.527317,48.425718,NaN,NaN
70,1-12_148m_+p,2017,P2,148,90.820391,66.997775,cone,25.859061,19.770272,NaN,NaN
71,2-14_100m_ctl,2017,P2,100,NaN,NaN,cone,NaN,NaN,NaN,NaN

In [ ]:
P2_2017.plot(kind='scatter', x='Flux (mg/m2/day)', y='Depth', c='Green')s

In [ ]:
# Three-panel plot
fig2, (ax2, ax3, ax4) = plt.subplots(1,3,sharey=True)
# Temperature
ax2.plot(temp,depth,'o-')
ax2.set_ylabel('Depth (m)')
ax2.set_ylim(ax2.get_ylim()[::-1]) #this reverses the yaxis (i.e. deep at the bottom)
ax2.set_xlabel('Temperature (C)')
ax2.xaxis.set_label_position('top') # this moves the label to the top
ax2.xaxis.set_ticks_position('top') # this moves the ticks to the top
# Salinity
ax3.plot(salt,depth,'o-r')
ax3.set_xlabel('Salinity')
ax3.xaxis.set_label_position('top') # this moves the label to the top
ax3.xaxis.set_ticks_position('top') # this moves the ticks to the top
ax3.yaxis.set_visible(False) # This erases the y ticks
# Fluorescence
ax4.plot(fluo,depth,'o-g')
ax4.set_xlabel('Flourescence (V)')
ax4.xaxis.set_label_position('top') # this moves the label to the top
ax4.xaxis.set_ticks_position('top') # this moves the ticks to the top
ax4.yaxis.set_visible(False) # This erases the y ticks